<div class="row">
  <div class="small-12  medium-6 medium-centered large-6 large-centered columns">
    <%= form_for(donor) do |f| %>
      <% if donor.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(donor.errors.count, "error") %> prohibited this donor from being saved:</h2>

          <ul>
          <% donor.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div id="border-field">
        <div class="actions">
          <%= f.submit class: "button expanded btn-radius-20" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
