<div class="row expanded info-title-bar title-info-bar">
  <div class="text-center fnt-aladin">
    <span>
      Edit Key Donor
    </span>               
  </div>
</div> 
<%= render 'form', key_donor: @key_donor %>
