<div class="row expanded info-title-bar title-info-bar">
  <div class="text-center fnt-aladin">
    <span>
      New Donation
    </span>               
  </div>
</div> 
<%= render 'layouts/logo-welcome' %>
<%= render 'form', donation: @donation %>
