#border-field
{
	border: 1px solid #cacaca;
    padding: 1rem;
    border-radius: 8px;
}
#title
{
	font-size: 40px;
}
.fnt-aladin
{
	font-family: 'Aladin', cursive;
}
.button.btn-facebook 
{
	background-color: #3B5998;	
	border-radius: 6px;
}
.button.btn-facebook:hover 
{
	background-color: #3a61b3;
}
.button.btn-google-plus
{
	background-color: #DD4B39;
	border-radius: 6px;
}
.button.btn-google-plus:hover
{
	background-color: #c23321;
}
.button.btn-twitter 
{
	background-color: #19B8F0;	
	border-radius: 6px;
}
.button.btn-twitter:hover
{
	background-color: #0c7abf;
}
