#logo-footer
{
	font-size: 30px;
}
#logo-footer span:hover
{
	color: #0C7ABF;
	cursor: pointer;
	font-weight: bold;
}
.college-footer-bottom
{
	background-color: #2c3840;
    color: #FFFFFF;
    margin-top: 1rem;
    padding: 24px 0 10px;
}
.social-list
{
	text-align: right;
}
.social li 
{
	display: inline-block;
}
.social li a 
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
}
.social li a:hover
{
	color: #0C7ABF;
}