<footer class="college-footer-bottom row expanded">
	<div class="row">
		<div class="medium-4 medium-push-8 columns social-list">
			<ul class="social">
				<li>
					<a href="#">
						<i class="fa fa-facebook-square" aria-hidden="true"></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-twitter-square" aria-hidden="true"></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-google-plus-square" aria-hidden="true"></i>
					</a>
				</li>
			</ul>
		</div>	
		<div class="medium-8 medium-pull-4 columns">
			<div id="logo-footer" class="fnt-great-vibes">
				<span>
					CollegeFund.me
				</span>				
			</div>
			<p class="copyright">© 2017-All rights reserved.</p>
		</div>
	</div>	
</footer>