<div class="row expanded">
	<div class="text-center">
	    <span id="logo-welcome" class="fnt-great-vibes">
	        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
	      	CollegeFund.me
		</span>        
	</div>		
</div>